<!doctype html>
<html>
    <head>
        <title>LOGIN PAGE</title>
        <linnk ref = "stylesheet" type = "text/css" href=".. /static/style.css">
        </head>
        <body>
            <header>
                <div class "main">
                    <ul>"
                        <li class="active"><a href="/">Home</a></li">
                        </ul>
                    </div>

                </div>
                <div classs = "title">
                    <h1>WELCOME BACK! <h1>

                    </div>
                    <div class = "login">
                        <h1>Login</h1>
                        <form>
                            <p>Username</p>
                            <input type = "text" name = "" placeholder="Please Enter Your Username.">
                            <p>Password</p>
                            <input type = "password" name = "" placeholder="Please Enter Your Password.">
                            <input type = "submit" value = "Login">
                            <a href="#">Forgot password</a>><br>

                            <a href="#">Don't have an account?</a>
                            <li><a href =" reg"> Register Now!<a/><li>
                            </form>
                        </div>
                    </header>
                </body>
                </html>
                