<html>
<head>
    <title>Registration PAGE</title>
    <link rel = "stylesheet" type = "text/css href" ../static/style.css">
</head>
<body>
    <header>
        <div class = "main">
            <ul>
                <li class = "active">< href = "/">Home</a></li>
            </ul>
        </div>

    </div>
    <div class = "title">
        <h1> Register here </h1>
    </div>
    <div class = "Login">
        <h1>Sign Up</h1>
        <form>
            <p>First Name</p>
            <input type = "text" name  = "" placeholder = "PLEASE ENTER YOUR FIRST NAME:">
            <p>Last Name</p>
            <input type = "text" name = "" placeholder = " PLEASE ENTER YOUR LAST NAME:">
            <p>Username</p>
            <input type = "text" name = "" placeholder = "PLEASE ENTER YOUR USERNAME:">
            <p>Password</p>
            <input type = "text" name = "" placeholder = "PLEASE ENTER YOUR PASSWORD:">
            <dib class = "button">
                <a href="/" class="btn">Login</a>

            </div>

        </form>

    </div>

</header>
</body>
</html>
